@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.ContactInput {
  @apply outline-none dark:bg-slate-400/10 bg-slate-200 rounded-sm border-b px-3 py-3 md:px-6 md:py-6 lg:px-6 lg:py-6  dark:border-[#242424] border-[#f7ab0a]
  text-gray-500 placeholder-gray-400 transition-all focus:border-[#f7ab0a]/40
  dark:focus:text-[#f7ab0a] focus:text-[#000] dark:hover:border-[#f7ab0a]/40 hover:border-[#000]/40;
}

body {
  color: rgb(var(--foreground-rgb));
}
@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}
.web {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
.mobile {
  @media only screen and (min-width: 600px) {
    display: none;
  }
}
.icon-mobile {
  @media only screen and (max-width: 600px) {
    height: 4rem;
    width: 4rem;
  }
}

.mobile-circle1 {
  @media only screen and (max-width: 600px) {
    height: 100px;
    width: 100px;
  }
}
.mobile-circle2 {
  @media only screen and (max-width: 600px) {
    height: 150px;
    width: 150px;
  }
}
.mobile-circle3 {
  @media only screen and (max-width: 600px) {
    height: 225px;
    width: 225px;
  }
}
.mobile-circle4 {
  @media only screen and (max-width: 600px) {
    height: 400px;
    width: 400px;
  }
}
.mobile-circle5 {
  @media only screen and (max-width: 600px) {
    height: 400px;
    width: 400px;
  }
}
