.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}

.project-photo {
  width: 40%;
}

.project-info {
  margin-right: 24px;
}
.project-title {
  font-size: 20px;
  font-weight: 600;
}
.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}
.project-about {
  font-weight: 550;
}
.tag {
  padding: 4px 8px;
  background-color: #f1f3f5;

  margin: 5px 5px;
  padding: 10px 10px;
  color: black;
  font-weight: 600;
}

.project-links a {
  text-decoration: none;
  color: black;
}

.project-links {
  margin-top: 12px;

  display: flex;
}
.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
  padding: 6px 10px;
  width: max-content;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}
.link-button i {
  display: flex;
  align-items: center;
  margin: 10px 12px;
  padding: 6px 10px;
  color: black;
  transform: scale(1.3);
  font-size: 24px;
}

.link-button-text {
  margin-left: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 720px) {
  .project-photo {
    width: 90%;

  }
  .project-card {
    flex-direction: column-reverse;

  }
  .project-info {
    margin-left: 0px;
    margin-top: 12px;
  padding: 10px 0px;

  }
  .project-tags {
    max-width: 90%;

  }
  .project-about{
  padding: 10px 0px;

  }
  .link-button{
  width: 90%;
  margin: auto;

  }
}
