.separator {
  background-image: linear-gradient(
    to right top,
    #690080,
    #5a41aa,
    #3f68cb,
    #168be3,
    #00acf3,
    #00acf3,
    #00acf2,
    #00acf2,
    #268be1,
    #4a68c7,
    #6241a4,
    #6e0278
  );
  height: 6px;
  width: 100%;
  border-radius: 3px;
  margin: 16px 0px;
}
