.app{
  position: relative;
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: linear-gradient(to right bottom, #177a4f, #008a73, #009a96, #00a8b8, #3db5d5, #31bddb, #21c5e1, #00cde6, #00d0c4, #2dce92, #77c757, #b2b914);
  
}

@media only screen and (max-width: 512px) {
  .app{
    background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      
  }
  
} 