.about {
  padding-bottom: 48px;
  position: relative;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.picture {
  height: 420px;
}

.about-info {
  font-family:Georgia,serif;
  color:#666666;
  font-size:32px;
  line-height:1em;
  margin:0 0 0 40px;
  }
 
.info-name {
  font-family:Georgia,serif;
  color:#0B1B87;
  font-size:60px;
  font-weight:normal;
  letter-spacing:-3px;
  line-height:1em;
}

@media only screen and (max-width: 1024px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 240px;
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    font-size: 26px;
  }
}

@media only screen and (max-width: 512px) {
}
